@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-muted: #c0c0c0;
  --color-white: #ffff;

  --transition: all 400ms ease;
  --slow-transition: all 880ms ease;

  --mont: "Montserrat", sans-serif;
}
.flex-row {
  display: flex;
  flex-direction: row;
}.flex-column {
  display: flex;
  flex-direction: column;
}.align-container-center {
  justify-content: center;
  align-items: center;
}
.mont-300 {
  font-family: var(--mont);
  font-weight: 300;
}
.mont-400 {
  font-family: var(--mont);
  font-weight: 400;
}
.mont-500 {
  font-family: var(--mont);
  font-weight: 500;
}
.mont-600 {
  font-family: var(--mont);
  font-weight: 600;
}
.mont-700 {
  font-family: var(--mont);
  font-weight: 700;
}.mont-800 {
  font-family: var(--mont);
  font-weight: 800;
}
.mont-900 {
  font-family: var(--mont);
  font-weight: 900;
}.pointer {
  cursor: pointer;
}.uppercase {
  text-transform: uppercase;
}.white {
  color: var(--color-white);
}.black {
  color: #0000;
}.red {
  color: red;
}.color-1 {
  color: var(--color-1);
}.color-2 {
  color: var(--color-2);
}.header-padding {
  padding: var(--header-padding);
}.btn-transparent {
  background-color: transparent;
  border: solid 1px var(--color-white);
}.transition {
  transition: var(--transition);
}.slow-transition {
  transition: var(--slow-transition);
}.underline {
  text-decoration: underline;
}.underline-hover:hover {
  text-decoration: underline;
}.absolute {
  position: absolute;
}.relative {
  position: relative;
}.muted {
  color: var(--color-muted);
}.not-allowed {
  cursor: not-allowed;
}.default {
  cursor: default;
}.btn-transparent:hover {
  background: var(--color-1);
  border: solid 1px transparent;
}.mobile {
  display: none;
}.gone {
  display: none;
}.size-0-5 {
  font-size: 0.5rem;
}.size-0-7 {
  font-size: 0.7rem;
}.size-1 {
  font-size: 1rem;
}.size-1-5 {
  font-size: 1.5rem;
}.size-2 {
  font-size: 2rem;
}.size-2-5 {
  font-size: 2.5rem;
}.size-3 {
  font-size: 3rem;
}.size-3-5 {
  font-size: 3.5rem;
}.size-4 {
  font-size: 4rem;
}.size-5 {
  font-size: 5rem;
}.size-7 {
  font-size: 7rem;
}.normal-margin {
  margin-top: 1rem;
}.strong-margin {
  margin-top: 3rem;
}.stronger-margin {
  margin-top: 7rem;
}
div:focus, section:focus, aside:focus, article:focus, a:focus, button:focus, li:focus {
  outline: none;
}.center {
  text-align: center;
}

@media screen and (max-width: 1081px) {
  .mobile {
    display: block;
  }
}
.appear {
  display: flex;
}

.games-container {
  margin-top: 2rem;
  flex-wrap: wrap;
}