.game-container {
  position: relative;
   width: 20rem;
   margin: 1.4rem 1rem;
   background: black;
   border-radius: 2rem;
   transition: all 400ms ease;
}.game-container:hover {
  box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.4);
}.game-image {
  margin: 0;
  width: 20rem;
  height: auto;
  img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
    aspect-ratio: 1/1;
  }}
.game-name {
  text-align: center;
  margin-top: 1rem;
}
.platforms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: .1rem;
}.platform-existing {
  width: 2.4rem;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1/1;
}.discounts-and-price {
  gap: 1.3rem;
  margin: 1rem;
  .discount {
    padding: 1rem;
    border-radius: .3rem;
    background: #f45252;
  }.price {
    padding: 1rem;
    border-radius: .5rem;
    background: #404040;
  }
}.green {
  background-color: green;
}

/* /////////// BOTOES //////////////1 */

.actions {
  z-index: 996;
  position: absolute;
  top: 50%;
  right: -60px; /* Posição inicial fora do container */
  transform: translateY(-50%);
  opacity: 0;
  gap: .8rem;
  transition: opacity 0.3s, right 0.3s ease;
  button {
    border-radius: .3rem;
    width: 5rem;
    height: 2.2rem;
    font-family: 'Poppins', sans-serif;
  }.edit-btn {
    background: #36acd3;
    color: white;
    border: none;
  }.delete-btn {
    background: #cf3f3f;
    color: white;
    border: none;
  }.edit-btn:hover {
    background: white;
    color: #36acd3;
  }.delete-btn:hover {
    color: #cf3f3f;
    background: white;
  }
}.game-container:hover .actions {
  right: -70px; /* Mover para o lado do container ao passar o mouse */
  opacity: 1;
}.nome-delete-edit {
  padding: .2rem;
  background: white;
  color: black;
  font-weight: 600;
}