@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}.header {
  background: black;
  display: flex;
  padding: 2.3rem 2rem;
  justify-content: space-between;
  nav {
    display: flex;
    gap: 2rem;
    .link {
      font-weight: 400;
      color: white;
      text-decoration: none;
      position: relative;
    }
    .link::after {
      content: "";
      position: absolute;
      bottom: -7px; /* Distância da barra em relação ao link */
      left: 50%; /* Centraliza a barra */
      transform: translateX(-50%); /* Centraliza horizontalmente */
      width: 70%; /* Metade do tamanho da tag <a> */
      height: 3px; /* Altura da barra */
      background-color: white; /* Cor da barra */
      opacity: 0; /* Inicialmente invisível */
      transition: opacity 0.2s ease, bottom 0.2s ease; /* Transição suave */
    }
    .link:hover::after {
      bottom: -5px; /* Aumenta a distância da barra */
      opacity: 1; /* Torna a barra visível */
    }
  }
}.container-logo {
  width: 7rem;
  height: auto;
  img {
    width: 100%;
    aspect-ratio: 2/1;
  }
}
.black {
  color: black;}.white {
  color: white;
  }.uppercase {
  text-transform: uppercase;
  }.center {
  text-align: center;
  }.pointer {
  cursor: pointer;
  }.flex-row {
  display: flex;
  }.flex-column {
  display: flex;
  flex-direction:column;
}.size-3 {
  font-size: 3rem;
  }.sellersText {
  margin: 1rem 0;
  }.red {
  color: red;
  }.poppins {
  font-family: 'Poppins', sans-serif;
  }.poppins-600 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}.margin {
  margin: 2.3rem 0;
  }.free {
  background: green;
  }.btn-header-common {
  padding: 1.2rem;
  border-radius: .4rem;
  width: 7rem;
  height: 3.6rem;
  border: solid 1px white;
  background: transparent;
  }.btn-header-common:hover {
  background: white;
  color: black;
  }


/* //////////////////////////////////
*/

.loginScreen {
  width: 25rem;
  gap: .4rem;
  position: absolute;
  padding: 3rem;
  background: #202020;
  border-radius: 2rem;
  transform: translateY(22vh);
  margin-left: 37vw;
  z-index: 999;
  input {
    height: 30px;
    padding: .1rem;
    border-radius: 0;
    background: none;
    border: solid 1px white;
  }input[placeholder] {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-left: 10px;
  }
  button {
    margin-top: 1rem;
    background: #4040c4;
    color: white;
    border: none;
    height: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }button:hover {
    color: #4040c4;
    background: white;
  }
}.close {
  top: 30px;
  right: 20px;
}.allowedConnected {
  gap: .6rem;
}.blur-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
  backdrop-filter: blur(5px); /* Efeito de desfoque */
  z-index: 998; /* Garantir que o desfoque fique acima do conteúdo */
}