@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}.header {
  background: black;
  display: flex;
  padding: 2.3rem 2rem;
  justify-content: space-between;
  nav {
    display: flex;
    gap: 2rem;
    .link {
      font-weight: 400;
      color: white;
      text-decoration: none;
      position: relative;
    }
    .link::after {
      content: "";
      position: absolute;
      bottom: -7px; /* Distância da barra em relação ao link */
      left: 50%; /* Centraliza a barra */
      transform: translateX(-50%); /* Centraliza horizontalmente */
      width: 70%; /* Metade do tamanho da tag <a> */
      height: 3px; /* Altura da barra */
      background-color: white; /* Cor da barra */
      opacity: 0; /* Inicialmente invisível */
      transition: opacity 0.2s ease, bottom 0.2s ease; /* Transição suave */
    }
    .link:hover::after {
      bottom: -5px; /* Aumenta a distância da barra */
      opacity: 1; /* Torna a barra visível */
    }
  }
}
.black {
  color: black;}.white {
  color: white;
  }.uppercase {
  text-transform: uppercase;
  }.center {
  text-align: center;
  }.pointer {
  cursor: pointer;
  }.flex-row {
  display: flex;
  }.size-3 {
  font-size: 3rem;
  }.sellersText {
  margin: 1rem 0;
  }.red {
  color: red;
  }.poppins {
  font-family: 'Poppins', sans-serif;
  }.margin {
  margin: 2.3rem 0;
  }.free {
  background: green;
  }